$title-font: 'Montserrat', sans-serif;
$body-font: 'Josefin Sans', sans-serif;
$white: white;
$light-gray: #d1d2d4;
$dark-gray: #58585b;
$black: black;
$gutter: 40px;
$margin-space: 6.25vh;
* {
  box-sizing: border-box;
}
h1 {

}
h2 {
  font-family: $title-font;
  font-size: 1.25em;
}
p{
  font-family: $body-font;
}
a, a:visited, a:link {
  color: inherit;
  text-decoration: none;
}
@media only screen and (min-width: 769px)  {
  // For destop

  .grid-container {
    display: inline-grid;
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a b c";
    font-size: 14px;
    .first {
      position: fixed;
      width: calc(100vw / 3);
      height: 100vh;
    }
    .last {
      position: fixed;
      width: calc(100vw / 3);
      height: 100vh;
      right: 0;
    }
  }
}
@media only screen and (max-width: 768px)  {
  // For mobile

  display: inline-grid;
  width: 100vw;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 100vh); //to be changed with content on mobiles
  grid-template-areas: "a"
                       "b"
                       "c";
  .grid-container {
    font-size: 12px;
  }
  .last {
    min-height: 100vh;
  }
}
@media only screen and (min-width: 1280px)  {
  .grid-container {
    font-size: 18px;
  }
}
.first {
  grid-area: a;
  background-color: $light-gray;
  display: grid;

  grid-template-columns: $gutter 1fr $gutter;
  grid-template-rows: $gutter repeat(3, 1fr) $gutter;
  .image-container {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    .image {
      height: 150px;
      width: 150px;

      border: 1px solid white;
      border-radius: 75px;
    }
  }
  .name {
    grid-column: 2;
    grid-row: 3;

    font-family: $title-font;
    .first-name {
      margin: 0px;
      font-size: 2em;
      font-family: $title-font;
      font-weight: lighter;
      font-variant-caps: small-caps;
    }
    .last-name {
      margin: -0.25em 0px 0px;
      font-size: 3em;
      font-family: $title-font;
      font-weight: bold;
      text-transform: uppercase;
    }
    .cv {
      margin-top: .5em;
      font-family: $body-font;
      font-size: 2em;
    }
    @media only screen and (min-width: 1280px)  {
      .first-name {
        font-size: 2.5em;
      }
      .last-name {
        font-size: 4em;
      }
      .cv {
        font-size: 3em;
      }
    }
  }
  .overview {
    grid-column: 2;
    grid-row: 4;
    align-self: end;
    .icon-container {
      position: relative;
      margin-bottom: .25em;

      .icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-color: black;
      }
      p {
        position: absolute;
        top: 50%; /* halfway down the container */
        transform: translate(0, -50%); /* move the element up by half its own height */
        display: inline-block;
        margin: 0px;
        margin-left: .5em;
        font-size: 1em;
        font-family: $body-font;
      }
    }
  }
}
.middle {
  grid-area: b;
  display: grid;
  grid-template-columns: $gutter 1fr $gutter;
  grid-template-rows: $gutter 1fr $gutter;

  .work-container {
    grid-column: 2;
    grid-row: 2;
    position: relative;
    margin-left: 1.25em;
    margin-right: 1.25em;
    border-left: 2px dotted $dark-gray;
    padding-left: 1.25em;

    .job {
      position: relative;
      margin-bottom: 2.5em;
      h3 {
        margin: 0px;
        font-size: 1em;
        font-family: $title-font;
        font-weight: 800;
      }
      p {
        margin: 0px;
        font-size: 1em;
        font-family: $body-font;
        color: $dark-gray;
      }
      .company {
        font-style: italic;
      }
      &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        top: 2px;
        border: 1px solid $dark-gray;
        border-radius: 8px;

        left: -2.25em;
      }
      &::after {
        content: "";
        position: absolute;
        width: 20px;
        border: 1px solid $dark-gray;
        top: 7px;
        left: -30px;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: -11px;
      z-index: 10;
      border-width: 0px 10px 20px 10px;
      border-style: solid;
      border-color: $dark-gray transparent;
    }
    .source-code {
      margin-bottom: 0px;
      a {
        color: $black;
      }
    }
  }
}
.last {
  grid-area: c;
  overflow: hidden;
  background-color: $black;
  color: $white;
  font-family: $body-font;

  display: grid;
  grid-template-columns: $gutter 1fr $gutter;
  grid-template-rows: $gutter 1fr $gutter;

  .last-container {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .software {
      overflow: hidden;

      .program-wrapper {
        display: inline-block;
        float: left;
        position: relative;
        width: 20%;
        margin-right: 5%;

        &:last-child {
          margin-right: 0px;
        }
        svg {
          // SVG overridden by inline styles
        }

        .rating-wrapper {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-column-gap: 3px;

          .rating {
            border: 1px solid $white;
            border-radius: 50%;
            height: auto;
            width: 100%;
            padding-top: 80%; /* makes responsive circle height */
            &:last-child {
              margin-right: 0px;
            }
          }
        }
      }
    }
    .languages {

      .language-container {
        .language {
          display: inline-block;
          width: 30%;
        }
        .rating-wrapper {
          display: inline-grid;
          width: 20%;
          grid-template-columns: repeat(5, 1fr);
          grid-column-gap: 3px;

          .rating {
            border: 1px solid $white;
            border-radius: 50%;
            height: auto;
            width: 100%;
            padding-top: 80%; /* makes responsive circle height */
            &:last-child {
              margin-right: 0px;
            }
          }
        }
      }
    }
    .hobbies {

      p {
      margin: .25em 0px;
      }
    }
    .references {

      p {
        margin: .2em 0px;
      }
      .left, .right {
        display: inline-block;
        width: 50%;
        float: left;
        font-size: .75em;
      }
      .right {
        text-align: right;
      }
    }
  }
}
.rating.fill {
  background: $white;
}
.rating.half {
  position: relative;
  &::before{
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    height: 100%;
    width: 50%;
    border-radius: 50% 0px 0px 50%;
    background: $white;
  }
}
