/*#ec3047*/
* {
  box-sizing: border-box; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25em; }

p {
  font-family: "Josefin Sans", sans-serif; }

a, a:visited, a:link {
  color: inherit;
  text-decoration: none; }

@media only screen and (min-width: 769px) {
  .grid-container {
    position: relative;
    width: 100vw;
    font-size: 14px; }
    .grid-container .first {
      position: fixed;
      width: calc(100vw / 3);
      min-height: 100vh;
      float: left; }
    .grid-container .middle {
      position: absolute;
      display: inline-block;
      width: calc(100vw / 3);
      left: calc(100vw / 3);
      float: left; }
    .grid-container .last {
      position: fixed;
      width: calc(100vw / 3);
      height: 100vh;
      min-height: 650px;
      /* to account for references overlap if in shallow window */
      right: 0; } }
@media only screen and (max-width: 768px) {
  width: 100vw;
  .grid-container {
    font-size: 12px; }

  .first, .middle, .last {
    min-height: 100vh; } }
@media only screen and (min-width: 1280px) {
  .grid-container {
    min-height: 670px !important;
    font-size: 16px; } }
.first {
  padding: 3em;
  background-color: #d1d2d4; }
  .first .first-container {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    /* Safari 6.1+ */
    justify-content: space-between;
    height: 100%; }
    .first .first-container .image-container {
      height: calc((100vh - (2 * 3em)) / 3);
      text-align: center; }
      .first .first-container .image-container .image {
        height: 150px;
        width: 150px;
        border: 1px solid black;
        border-radius: 50%; }
        @media only screen and (min-width: 1280px) {
          .first .first-container .image-container .image {
            height: 200px;
            width: 200px; } }
    .first .first-container .name {
      overflow: visible;
      font-family: "Montserrat", sans-serif; }
      .first .first-container .name .first-name {
        margin: 0px;
        font-size: 2em;
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        font-variant-caps: small-caps; }
      .first .first-container .name .last-name {
        margin: -0.25em 0px 0px;
        font-size: 3em;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        text-transform: uppercase; }
      .first .first-container .name .cv {
        margin-top: .5em;
        font-family: "Josefin Sans", sans-serif;
        font-size: 2em; }
      @media only screen and (max-width: 768px) {
        .first .first-container .name .first-name {
          font-size: 1.75em; }
        .first .first-container .name .last-name {
          font-size: 2.5em; }
        .first .first-container .name .cv {
          font-size: 1.75em; } }
      @media only screen and (min-width: 1280px) {
        .first .first-container .name .first-name {
          font-size: 2.5em; }
        .first .first-container .name .last-name {
          font-size: 3.5em; }
        .first .first-container .name .cv {
          font-size: 3em; } }
    @media only screen and (min-width: 769px) {
      .first .first-container .overview {
        position: absolute;
        width: 100%;
        bottom: 3em; } }
    .first .first-container .overview .icon-container {
      position: relative !important;
      margin-bottom: .25em; }
      .first .first-container .overview .icon-container .icon {
        display: -webkit-inline-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-inline-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-inline-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-inline-flex;
        /* NEW - Chrome */
        display: inline-flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        width: 2.5em;
        height: 2.5em;
        border-radius: 1.25em;
        background-color: black;
        color: white;
        align-items: center;
        justify-content: center; }
        .first .first-container .overview .icon-container .icon img {
          width: 50%;
          height: auto; }
      .first .first-container .overview .icon-container p {
        position: absolute;
        top: 50%;
        /* halfway down the container */
        transform: translate(0, -50%);
        /* move the element up by half its own height */
        display: inline-block;
        width: 100%;
        margin: 0px;
        margin-left: .5em;
        font-size: 1em;
        font-family: "Josefin Sans", sans-serif; }

.middle {
  padding: 3em; }
  .middle .work-container {
    position: relative;
    margin-left: 1.25em;
    margin-right: 1.25em;
    border-left: 2px dotted #58585b;
    padding-left: 1.25em; }
    .middle .work-container .job {
      position: relative;
      margin-bottom: 2.5em; }
      .middle .work-container .job h3 {
        margin: 0px 0px .25em;
        font-size: 1em;
        font-family: "Montserrat", sans-serif;
        font-weight: 800; }
      .middle .work-container .job p {
        margin: 0px;
        font-size: 1em;
        font-family: "Josefin Sans", sans-serif;
        color: #58585b; }
      .middle .work-container .job .company {
        font-style: italic; }
      .middle .work-container .job::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        top: 2px;
        border: 1px solid #58585b;
        border-radius: 8px;
        left: -2.5em; }
      .middle .work-container .job::after {
        content: "";
        position: absolute;
        width: 20px;
        border: 1px solid #58585b;
        top: 7px;
        left: -30px; }
    .middle .work-container::before {
      content: "";
      position: absolute;
      top: -15px;
      left: -11px;
      z-index: 10;
      border-width: 0px 10px 20px 10px;
      border-style: solid;
      border-color: #58585b transparent; }
    .middle .work-container .source-code {
      margin-bottom: 0px; }
      .middle .work-container .source-code a {
        color: black; }
  .middle .button-container {
    text-align: center; }
    .middle .button-container button {
      margin-top: 3em;
      padding: 1em 2em;
      border-radius: 2em;
      border: none;
      background: black;
      color: white;
      line-height: 100%;
      font-family: "Josefin Sans", sans-serif;
      outline: none; }
      .middle .button-container button:hover {
        background: #d1d2d4;
        color: black; }

.last {
  position: relative;
  padding: 3em;
  background-color: black;
  color: white;
  font-family: "Josefin Sans", sans-serif; }
  .last .last-container {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    /* Safari 6.1+ */
    justify-content: space-between; }
    .last .last-container .software {
      overflow: hidden; }
      .last .last-container .software .program-wrapper {
        display: inline-block;
        float: left;
        position: relative;
        width: 20%;
        margin-right: 5%; }
        .last .last-container .software .program-wrapper:last-child {
          margin-right: 0px; }
        .last .last-container .software .program-wrapper .rating-wrapper {
          width: 100%;
          display: -webkit-inline-box;
          /* OLD - iOS 6-, Safari 3.1-6 */
          display: -moz-inline-box;
          /* OLD - Firefox 19- (buggy but mostly works) */
          display: -ms-inline-flexbox;
          /* TWEENER - IE 10 */
          display: -webkit-inline-flex;
          /* NEW - Chrome */
          display: inline-flex;
          /* NEW, Spec - Opera 12.1, Firefox 20+ */
          justify-content: center; }
          .last .last-container .software .program-wrapper .rating-wrapper .rating {
            display: inline-block;
            border: 1px solid white;
            border-radius: 50%;
            height: auto;
            width: 12px;
            margin-right: auto;
            padding-top: 11px;
            /* makes responsive circle height */ }
            .last .last-container .software .program-wrapper .rating-wrapper .rating:last-child {
              margin-right: 0px; }
          @media only screen and (max-width: 768px) {
            .last .last-container .software .program-wrapper .rating-wrapper .rating {
              width: 8px;
              padding-top: 7px; } }
          @media only screen and (min-width: 1280px) {
            .last .last-container .software .program-wrapper .rating-wrapper .rating {
              width: 14px;
              padding-top: 13px; } }
    .last .last-container .languages {
      margin-top: 2em; }
      .last .last-container .languages .language-container .language {
        display: inline-block;
        width: 30%; }
      .last .last-container .languages .language-container .rating-wrapper {
        display: -webkit-inline-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-inline-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-inline-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-inline-flex;
        /* NEW - Chrome */
        display: inline-flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        justify-content: center;
        width: 25%;
        margin-left: 10%; }
        .last .last-container .languages .language-container .rating-wrapper .rating {
          display: inline-block;
          border: 1px solid white;
          border-radius: 50%;
          height: auto;
          width: 12px;
          margin-right: auto;
          padding-top: 11px;
          /* makes responsive circle height */ }
          .last .last-container .languages .language-container .rating-wrapper .rating:last-child {
            margin-right: 0px; }
        @media only screen and (max-width: 768px) {
          .last .last-container .languages .language-container .rating-wrapper .rating {
            width: 8px;
            padding-top: 7px; } }
        @media only screen and (min-width: 1280px) {
          .last .last-container .languages .language-container .rating-wrapper .rating {
            width: 14px;
            padding-top: 13px; } }
    .last .last-container .hobbies {
      margin-top: 2em; }
      .last .last-container .hobbies p {
        margin: .25em 0px; }
    @media only screen and (min-width: 769px) {
      .last .last-container .references {
        position: absolute;
        bottom: 3em;
        right: 3em;
        width: calc(100% - 6em); } }
    .last .last-container .references p {
      margin: .2em 0px; }
    .last .last-container .references .left, .last .last-container .references .right {
      display: inline-block;
      width: 50%;
      float: left;
      font-size: .75em; }
    .last .last-container .references .right {
      text-align: right; }
    @media only screen and (max-width: 768px) {
      .last .last-container .references, .last .last-container .languages, .last .last-container .hobbies {
        position: relative;
        margin-top: 1em; } }

.rating.fill {
  background: white; }

.rating.half {
  position: relative; }
  .rating.half::before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    height: 100%;
    width: 50%;
    border-radius: 50% 0px 0px 50%;
    background: white; }

.grid-container.color-change .first {
  background-color: #d5a458; }
.grid-container.color-change .middle {
  background: #79cedc; }
  .grid-container.color-change .middle h2,
  .grid-container.color-change .middle h3,
  .grid-container.color-change .middle a,
  .grid-container.color-change .middle p {
    color: #0f2043; }
  .grid-container.color-change .middle .work-container {
    border-color: #0f2043; }
    .grid-container.color-change .middle .work-container::before {
      border-color: #0f2043 transparent; }
  .grid-container.color-change .middle .job::before, .grid-container.color-change .middle .job::after {
    border-color: #0f2043; }
  .grid-container.color-change .middle .button-container button {
    background: #0f2043;
    color: #79cedc;
    line-height: 100%;
    font-family: "Josefin Sans", sans-serif;
    outline: none; }
    .grid-container.color-change .middle .button-container button:hover {
      background: #d5a458;
      color: #0f2043; }
.grid-container.color-change .last {
  background-color: #0f2043; }

.grid-container.color-change1 .first {
  background-color: #aca287; }
.grid-container.color-change1 .middle {
  background: #f97d8c; }
  .grid-container.color-change1 .middle h2,
  .grid-container.color-change1 .middle h3,
  .grid-container.color-change1 .middle a,
  .grid-container.color-change1 .middle p {
    color: #3f2b2c; }
  .grid-container.color-change1 .middle .work-container {
    border-color: #3f2b2c; }
    .grid-container.color-change1 .middle .work-container::before {
      border-color: #3f2b2c transparent; }
  .grid-container.color-change1 .middle .job::before, .grid-container.color-change1 .middle .job::after {
    border-color: #3f2b2c; }
  .grid-container.color-change1 .middle .button-container button {
    background: #3f2b2c;
    color: #f97d8c;
    line-height: 100%;
    font-family: "Josefin Sans", sans-serif;
    outline: none; }
    .grid-container.color-change1 .middle .button-container button:hover {
      background: #aca287;
      color: #3f2b2c; }
.grid-container.color-change1 .last {
  background-color: #3f2b2c; }

.grid-container.color-change2 .first {
  background-color: #f0a979; }
.grid-container.color-change2 .middle {
  background: #f9f0af; }
  .grid-container.color-change2 .middle h2,
  .grid-container.color-change2 .middle h3,
  .grid-container.color-change2 .middle a,
  .grid-container.color-change2 .middle p {
    color: #704f50; }
  .grid-container.color-change2 .middle .work-container {
    border-color: #704f50; }
    .grid-container.color-change2 .middle .work-container::before {
      border-color: #704f50 transparent; }
  .grid-container.color-change2 .middle .job::before, .grid-container.color-change2 .middle .job::after {
    border-color: #704f50; }
  .grid-container.color-change2 .middle .button-container button {
    background: #704f50;
    color: #f9f0af;
    line-height: 100%;
    font-family: "Josefin Sans", sans-serif;
    outline: none; }
    .grid-container.color-change2 .middle .button-container button:hover {
      background: #f0a979;
      color: #704f50; }
.grid-container.color-change2 .last {
  background-color: #704f50; }

.grid-container.color-change3 .first {
  background-color: #a8953b; }
.grid-container.color-change3 .middle {
  background: #ebf8d0; }
  .grid-container.color-change3 .middle h2,
  .grid-container.color-change3 .middle h3,
  .grid-container.color-change3 .middle a,
  .grid-container.color-change3 .middle p {
    color: #572b70; }
  .grid-container.color-change3 .middle .work-container {
    border-color: #572b70; }
    .grid-container.color-change3 .middle .work-container::before {
      border-color: #572b70 transparent; }
  .grid-container.color-change3 .middle .job::before, .grid-container.color-change3 .middle .job::after {
    border-color: #572b70; }
  .grid-container.color-change3 .middle .button-container button {
    background: #572b70;
    color: #ebf8d0;
    line-height: 100%;
    font-family: "Josefin Sans", sans-serif;
    outline: none; }
    .grid-container.color-change3 .middle .button-container button:hover {
      background: #a8953b;
      color: #572b70; }
.grid-container.color-change3 .last {
  background-color: #572b70; }

.st3,
.st42,
.st33,
.st34 {
  font-family: "Josefin Sans", sans-serif !important;
  font-size: .75em; }

/*# sourceMappingURL=main.css.map */
